<mat-card style="margin:3em">

    <mat-card-title>
        Unprocessed Transactions
    </mat-card-title>

    <mat-card-content>
        <mat-table [dataSource]="unprocessedTransactions" matSort matSortDirection="desc">
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.time | date: 'short'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.firstname}} {{o?.lastname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.description}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="detail">
                <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.detail}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <input style="width: 30%" [(ngModel)]="o.price">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <mat-icon class="clickable" matTooltip="Complete: {{o?.ackedBy}}" *ngIf="o.status == 'done'" style="color: green">done_all</mat-icon>
                    <mat-icon class="clickable" matTooltip="Received: {{o?.ackedBy}}" *ngIf="o.status == 'ack'" style="color: blue">done</mat-icon>
                    <mat-icon class="clickable" matTooltip="Pending" *ngIf="o.status == 'new'" style="color: red">warning</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acknowledge">
                <mat-header-cell *matHeaderCellDef>Acknowledge</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <button mat-raised-button color="primary" (click)="acknowledgeTransaction(o)">Ack</button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="confirm">
                <mat-header-cell *matHeaderCellDef>Confirm</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <button mat-raised-button color="warn" (click)="confirmTransaction(o)">Confirm</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </mat-card-content>

    <button (click)="backClick()" mat-raised-button color="warn">Back</button>

</mat-card>