<mat-card style="margin:3em">
  <mat-card-title>
    <strong>Create new poll</strong>
  </mat-card-title>
  <mat-grid-list cols=8 rowHeight="80px">
    <mat-grid-tile colspan=2>
        <mat-form-field>
          <input matInput placeholder="Topic" [(ngModel)]="newPoll.topic">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=2>
      <mat-form-field>
        <mat-select [(ngModel)]="newOption" (ngModelChange)="onOptionChange($event)" placeholder="Option">
          <mat-option *ngFor="let op of pollOptions$ | async" [value]="op">{{op.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=6>
      <span style="text-align: left" *ngFor="let option of newPoll.options">
        {{option.name}} &nbsp;
      </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="createPoll()">Create</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="resetPoll()">Clear</button>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card>