<app-header></app-header>

<mat-card style="margin: 3em;">
  
  <mat-card-title>
    New poll
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="column">
      <div>
        <mat-form-field>
          <input matInput placeholder="Topic" [(ngModel)]="newPoll.topic">
        </mat-form-field>
      </div>
      <div fxFlex="40" fxLayout="row" fxLayoutGap="10px">
        <div>
          <button disabled="{{selectedOptions.length < 1}}" mat-raised-button color="primary" (click)="createPoll()">
            Create
          </button>
        </div>
        <div>
          <button mat-raised-button (click)="selectedOptions = []" color="warn">
            Clear
          </button>
        </div>
      </div>
      <div>
        <mat-selection-list [(ngModel)]="selectedOptions">
          <mat-list-option *ngFor="let option of (pollService.pollOptions$ | async | sort:'name':'asc')" [value]="option">
            {{option.name}}  
            <img matListAvatar src="{{option.iconUrl}}">
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    
  </mat-card-content>

</mat-card>