<app-header></app-header>

<mat-card style="margin: 3em">
  <mat-card-title>
    Balance
  </mat-card-title>
  <mat-card-content>

    <div fxLayout="column">
      <div>
        <h2 [ngClass]="authService.account?.balance > 0 ? 'green':'red'">
          {{authService.account?.balance | currency}}
        </h2>
      </div>
      <div>
        <table>
          <tr>
            <td style="padding:5px">
              <mat-form-field>
                <input matInput [(ngModel)]="addAmount" placeholder="Add money">
              </mat-form-field>
            </td>
            <td style="padding:5px">
              <button [disabled]="!(addAmount > 0)" mat-raised-button color="warn" (click)="addMoney()">Confirm</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </mat-card-content>
</mat-card>


<mat-card style="margin: 3em">

  <mat-card-title>
    Transactions
  </mat-card-title>
  <mat-card-content>

    <ag-grid-angular style="height: 500px" class="ag-theme-material" [gridOptions]="transactionService.myGO">
    </ag-grid-angular>

    <div style="margin-top: 20px">
      *Showing transactions for <strong>{{transactionService.dateLBToDate()}}</strong> onwards
    </div>

  </mat-card-content>


</mat-card>