<mat-card style="margin:3em">
  <mat-card-title>{{pollService.latestPoll?.topic}} Poll
    <div style="float:right;">
      <button id="pollStatusButton" mat-raised-button color="warn" (click)="orderStatus()"
              [disabled]="authService.account.voteStatus == 'Ordered'"
              [attr.data-status]="(authService.account.voteStatus)">
        {{authService.account.voteStatus == "Not Ordered" || authService.account.voteStatus == "Not Voted" ? "I'm Out!":
        "I'm In!" }}
      </button>
    </div>
  </mat-card-title>

  <mat-card-content [style.display]="authService.account.voteStatus == 'Not Ordering' ? 'none':'block'" id="pollCard">
    <div fxLayout.xs="column wrap" fxLayout="row wrap">
      <div style="margin:10px" *ngFor="let option of pollService.latestPoll?.options">
        <app-poll-option class="clickable" (click)="updateVote(option)" [matTooltip]="option?.name" [pollOption]="option"></app-poll-option>
        <div>
          <a style="width: 100%; height: 100%; text-decoration:none" [href]="option.menuUrl" target="_blank">
            <mat-card class="menu" style="padding: 20px 0px">
              <div fxLayout="row" fxLayoutAlign="center">
                Menu
              </div>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
