<app-header></app-header>

<mat-accordion multi="true">

    <mat-expansion-panel style="margin:3em" [disabled]="transactionService.unprocessedTransactions.length == 0" [expanded]="transactionService.unprocessedTransactions.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>Unprocessed Transactions</mat-panel-title>
        </mat-expansion-panel-header>

        <ag-grid-angular style="height: 500px;" class="ag-theme-material" [gridOptions]="transactionService.unprocessedGO">
        </ag-grid-angular>

    </mat-expansion-panel>


    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>Transactions</mat-panel-title>
            <mat-panel-description>
                Net today: &nbsp; &nbsp;
                <span [ngClass]="getTodayPosition()>=0?'green':'red'">
                    {{getTodayPosition() | currency}}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ag-grid-angular style="height: 500px" class="ag-theme-material" [gridOptions]="transactionService.allGO">
        </ag-grid-angular>

    </mat-expansion-panel>



    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>User Accounts</mat-panel-title>
            <mat-panel-description>
                Total: &nbsp; &nbsp;
                <span [ngClass]="getTotalBalance()>=0?'green':'red'">
                    {{getTotalBalance() | currency}}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ag-grid-angular [gridOptions]="adminService.accountsGO" class="ag-theme-material" style="height: 500px">
        </ag-grid-angular>

    </mat-expansion-panel>


    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>Food Options</mat-panel-title>
        </mat-expansion-panel-header>

        <ag-grid-angular [gridOptions]="pollService.pollOptionsGO" class="ag-theme-material" style="height: 500px">
        </ag-grid-angular>

    </mat-expansion-panel>

</mat-accordion>