<app-header></app-header>

<mat-accordion multi="true">

    <mat-expansion-panel style="margin:3em" [disabled]="transactionService.unprocessedTransactions.length == 0" [expanded]="transactionService.unprocessedTransactions.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>Unprocessed Transactions</mat-panel-title>
        </mat-expansion-panel-header>

        <ag-grid-angular style="height: 500px;" class="ag-theme-material" [gridOptions]="transactionService.unprocessedGO">
        </ag-grid-angular>

    </mat-expansion-panel>


    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>Today's Transactions</mat-panel-title>
            <mat-panel-description>
                Net: &nbsp; &nbsp;
                <span [ngClass]="getTodayPosition()>=0?'green':'red'">
                    {{getTodayPosition() | currency}}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="transactionService.todayTransactions.length > 0">
            <ag-grid-angular style="height: 500px" class="ag-theme-material" [gridOptions]="transactionService.todayGO">
            </ag-grid-angular>
        </div>

    </mat-expansion-panel>



    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>User Accounts</mat-panel-title>
            <mat-panel-description>
                Total: &nbsp; &nbsp;
                <span [ngClass]="getTotalBalance()>=0?'green':'red'">
                    {{getTotalBalance() | currency}}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-table [dataSource]="adminService.accountsDS">
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.email}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <strong>Total</strong>
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="balance">
                <mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.balance | currency}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <strong>{{getTotalBalance() | currency}}</strong>
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.firstname}} {{o?.lastname}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="accountsColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: accountsColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="accountsColumns"></mat-footer-row>

        </mat-table>
        <mat-paginator #accountPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </mat-expansion-panel>


    <mat-expansion-panel style="margin:3em">
        <mat-expansion-panel-header>
            <mat-panel-title>Food Options</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-table [dataSource]="pollService.pollOptionsDS">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let o">{{o?.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <div fxLayout="column" fxLayoutAlign="center center" style="height: 100px; width: 100px; padding:10px">
                        <img style="max-height: 100%; max-width: 100%" src="{{o?.iconUrl}}">
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="iconUrl">
                <mat-header-cell *matHeaderCellDef>Icon URL</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <mat-form-field style="width:100px" appearance="outline">
                        <input matInput style="width: 100px" [value]="o?.iconUrl" [(ngModel)]="o.iconUrl">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="menuUrl">
                <mat-header-cell *matHeaderCellDef>Menu URL</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <mat-form-field style="width: 100px" appearance="outline">
                        <input matInput style="width: 100px" [value]="o?.menuUrl" [(ngModel)]="o.menuUrl">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="refresh">
                <mat-header-cell *matHeaderCellDef>Refresh</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <button color="primary" mat-raised-button (click)="updatePollOption(o)">
                        Refresh
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
                <mat-cell *matCellDef="let o">
                    <button mat-raised-button (click)="deletePollOption(o)">
                        Delete
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="optionColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: optionColumns;"></mat-row>

        </mat-table>
        <mat-paginator #optionPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </mat-expansion-panel>

</mat-accordion>