.container{
    padding: 5px 0px;
    margin: auto;
    max-width: 360px;
}

.outline{
    background: #ffffff;
    border: solid 1px lightgray;
    color: #3a3944;
    padding: 0 20px 20px;
    position: relative;
}

.item{
    padding-top: 20px;
}

.item.bottom-divider{
    border-bottom: 1px solid lightgray;
}

.close:hover{
    color:lightgrey
}