<div class="container">
  <div class="outline">
    <div style="position:absolute; top:5px; right: 5px;">
      <mat-icon class="close clickable" (click)="close()">close</mat-icon>
    </div>
    <div class="item bottom-divider" style="padding-top: 30px">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="po.name">
      </mat-form-field>
    </div>
    <div class="item bottom-divider" style="padding-bottom: 0px;">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Icon URL</mat-label>
        <input matInput [(ngModel)]="po.iconUrl">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Menu URL</mat-label>
        <input matInput [(ngModel)]="po.menuUrl">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" class="item">
      <button style="background-color:cornflowerblue; width: 100%" mat-raised-button (click)="updatePollOption(po)">
        <span style="color: white">Update</span>
      </button>
      <button style="background-color: red; width: 100%" mat-raised-button (click)="deletePollOption(po)">
        <span style="color: white">Delete</span>
      </button>
    </div>
  </div>
</div>