
.admin-control{
  padding: 1em 3em;
}

.liked-item{
  margin: 0px 5px;
  font-size: 15px;
  color: black;
}

.liked-item ~ .liked-item{
  margin-top: 5px;
  padding-top: 5px;
  border-top: lightgrey 1px solid;
}
