/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ag-grid/dist/styles/ag-grid.css';
@import 'ag-grid/dist/styles/ag-theme-material.css';
@import 'ag-grid/dist/styles/ag-theme-balham.css';
@import 'ag-grid/dist/styles/ag-theme-balham-dark.css';
@import 'ag-grid/dist/styles/ag-theme-bootstrap.css';
@import 'ag-grid/dist/styles/ag-theme-fresh.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}
.clickable {
  cursor: pointer;
}

mat-grid-tile div {
  width:100%;
  height:100%;
}

mat-grid-tile div img {
  max-width:100%;
  max-height:100%;
}

.green{
  color: green;
}

.red{
  color: red;
}

.lightgreen{
  color: lightgreen;
}

.lightred{
  color: lightpink;
}

.lightred-background{
  background-color: lightpink;
}
