<mat-card *ngIf="pollService.getAdminSelectedOptions().length > 0" style="margin:3em">
  <mat-card-title>Ordering <div style="float:right;">
    <button id="orderStatusButton"mat-raised-button color="warn" (click)="orderStatus(authService.userDetails)">
      Not Ordering Today
    </button>
  </div></mat-card-title>
  <mat-card-content id="orderCard">
    <mat-vertical-stepper #stepper>

      <mat-step label="Choose your restaurant">

        <div fxLayout="row wrap" fxLayoutAlign=" center">
          <div class="option" style="margin:20px" *ngFor="let o of pollService.getAdminSelectedOptions()">
            <img style="max-width: 150px" [matTooltip]="o?.name" class="clickable" src="{{o?.iconUrl}}" (click)="clickRestaurant(o, stepper)">
          </div>
        </div>

      </mat-step>

      <mat-step label="Specify order">

        <div fxLayout="row wrap" *ngIf="chosenOption" fxLayoutAlign=" center">

          <div style="margin:30px">
            <a href="{{chosenOption?.menuUrl}}" target="_blank">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" center">
                <div>
                  <img style="max-width: 150px" src="{{chosenOption?.iconUrl}}">
                </div>
                <div>
                  Menu
                </div>
              </div>
            </a>
          </div>

          <div style="margin:30px">
            <button mat-raised-button [disabled]="order.length <= 0" color="warn" (click)="clickSendOrder(stepper)">
              Send Order
            </button>
          </div>

          <div style="margin:30px; width: 100%">
            <mat-form-field style="width: 100%">
              <textarea #orderField matInput placeholder="Order:" [(ngModel)]="order" required [matAutocomplete]="auto"></textarea>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-optgroup [label]="'Recent Orders'">
                  <mat-option *ngFor="let o of recentOrders" [value]="o">
                    {{o}}
                  </mat-option>
                </mat-optgroup>
                <mat-optgroup [label]="'Popular Orders'">
                  <mat-option *ngFor="let o of popularOrders" [value]="o">
                    {{o}}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </div>


        </div>


      </mat-step>

      <mat-step label="Finish">
        <div *ngIf="isOrderSent" fxLayout="column" fxLayoutGap="10px">
          <div>
            <strong>{{order}}</strong> from
            <strong>{{chosenOption?.name}}</strong> was sent!
          </div>
          <div>
            <button (click)="router.navigate(['account'])" mat-raised-button color="warn">
              View account and transactions
            </button>
          </div>
        </div>
      </mat-step>

    </mat-vertical-stepper>
  </mat-card-content>

</mat-card>
