
<mat-card *ngIf="pollService.getAdminSelectedOptions().length > 0" style="margin:3em">
  <mat-card-title>Ordering</mat-card-title>
  <mat-card-content>
    <mat-vertical-stepper #stepper>
      <mat-step label="Choose your restaurant">
        <mat-grid-list cols=6 rowHeight="2:1">
          <mat-grid-tile *ngFor="let option of pollService.getAdminSelectedOptions()">
            <div style="margin:1em">
              <img class="clickable" src="{{option.iconUrl}}" (click)="clickRestaurant(option, stepper)">
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-step>
      <mat-step label="Specify order">
        <mat-grid-list cols=5 rowHeight="2:1" *ngIf="isRestaurantChosen">
          <mat-grid-tile>
            <div>
              <a target="_blank" href="{{chosenOption?.menuUrl}}" class="clickable" matTooltip="Menu">
                <img src="{{chosenOption?.iconUrl}}">
              </a>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <textarea matInput placeholder="Order:" [(ngModel)]="order" required [matAutocomplete]="auto"></textarea>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-optgroup [label]="'Recent Orders'">
                  <mat-option *ngFor="let o of recentOrders" [value]="o">
                    {{o}}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button [disabled]="order.length <= 0" color="warn" (click)="clickSendOrder(stepper)">Send</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-step>
      <mat-step label="Finish">
        <span *ngIf="isOrderSent">
          <strong>{{order}}</strong> from <strong>{{chosenOption?.name}}</strong> was sent!
          <br><br>
          <button (click)="router.navigate(['account'])" mat-raised-button color="warn">View account and transactions</button>
        </span>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>

</mat-card>

