<div fxLayout="row" fxLayoutAlign="start center" style="width:100%; background-color:#d81e05">
  <div fxFlexOffset="0.7%" fxFlex="69%">
    <strong style="color: white; position: relative; font-size:55px">Slunch</strong>
  </div>
  <div fxFlex="25%">
    <strong style="color: white; position: relative; font-size:20px">
      {{authService.getUsername()}}: {{authService.account?.balance | currency}}
    </strong>
  </div>
  <div fxFlex="2%">
    <mat-icon class="clickable" style="color: white; font-size:200%" (click)="logout()" matTooltip="Sign Out">exit_to_app</mat-icon>
  </div>

</div>

<nav mat-tab-nav-bar>
  <div fxLayout="row wrap">
    <div>
      <a mat-tab-link (click)="router.navigate(['vote'])">Vote/Order</a>
    </div>
    <div>
      <a mat-tab-link (click)="router.navigate(['account'])">Account</a>
    </div>
    <div>
      <a mat-tab-link *ngIf="authService.isAdmin" (click)="router.navigate(['unprocessed'])">
        <p>
          <span [matBadge]="transactionService.numUnprocessed" matBadgeOverlap="false" [matBadgeColor]="transactionService.numUnprocessed == 0 ? 'primary':'warn'">
            Admin
          </span>
        </p>
      </a>
    </div>
    <div>
      <a mat-tab-link (click)="router.navigate(['new-poll'])" *ngIf="authService.isAdmin">
        New Poll
      </a>
    </div>
    <div>
      <span mat-tab-link *ngIf="authService.isAdmin" (click)="toggleOrders()">
        <mat-slide-toggle disabled="{{pollService.getAdminSelectedOptions().length < 1}}" [(ngModel)]="stateService.isOrdering">Allow Orders</mat-slide-toggle>
      </span>
    </div>
  </div>

</nav>