<div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%; background-color:#d81e05">
  <div class="clickable" (click)="resetDateAndNavigate('vote')">
    <strong class="responsive-header" style="color: white; position: relative; float: left;">Slunch</strong>
  </div>
  <button style="color: white; margin-right: 1vw;" mat-button [matMenuTriggerFor]="menu">
    <span style="font-size: 18px">
      {{authService.getUsername()}}
    </span>
    <span style="font-size: 18px" [ngClass]="authService.account?.balance > 0 ? 'lightgreen':'lightred'">
      {{authService.account?.balance | currency}}
    </span>
    <span></span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu style="align-content: center; display:none; width: 100%" #menu="matMenu" [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item (click)="resetDateAndNavigate('vote')">
      <span>
        <mat-icon>how_to_vote</mat-icon>
        Vote/Order</span>
    </button>
    <button mat-menu-item (click)="resetDateAndNavigate('account')">
      <span>
        <mat-icon>person</mat-icon>
        Account
      </span>
    </button>
    <button mat-menu-item *ngIf="authService.isAdmin" (click)="resetDateAndNavigate('admin')">
      <span [matBadge]="transactionService.numUnprocessed" matBadgeOverlap="false" [matBadgeColor]="transactionService.numUnprocessed == 0 ? 'primary':'warn'">
        <mat-icon>settings</mat-icon> Admin
      </span>
    </button>
    <button mat-menu-item *ngIf="authService.isAdmin" (click)="resetDateAndNavigate('new-poll')">
      <span>
        <mat-icon>playlist_add</mat-icon>
        New Poll
      </span>
    </button>
    <button mat-menu-item (click)="logout()" matTooltip="Sign Out">
      <span>
        <mat-icon>exit_to_app</mat-icon>
        Logout</span>
    </button>
  </mat-menu>
</div>
