.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5em;
}

.login-card {
  grid-column: 2 / 3;
  grid-row: 1;
}

.login-button-area {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
