<mat-card class="option">

  <div fxLayout="row">
    <div fxFlex="50px"></div>
    <div fxFlex="200px"></div>
    <div fxFlex="50px">
      <h2>
        <mat-icon [color]="myvote() ? 'primary' : ''">thumb_up</mat-icon>
        <span>{{pollOption.votes.length}}</span>
      </h2>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50px"></div>
    <div fxFlex="200px">
      <div style="height: 180px; width: 180px">
        <img style="max-height: 100%; max-width: 100%" src="{{pollOption.iconUrl}}">
      </div>
    </div>
    <div fxFlex="50px"></div>
  </div>

  <div fxLayout="row">
    <div fxFlex="50px">
      <mat-icon color="primary" matTooltip="{{pollOption.votes.join(', ')}}" matTooltipPosition="after">
        group
      </mat-icon>
    </div>
    <div fxFlex="200px"></div>
    <div fxFlex="50px"></div>
  </div>
  
</mat-card>





